body{
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100vh;
}
.headerHome{
  background-image: url(./img/goldStar.png);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center 50px ;
  margin-top: 50px;
  padding: 50px 0 0 0;

}
h1{
  color: var(--white);
  padding: 20px;
  -webkit-text-stroke: 1px var(--golden);

}
span{
  color: var(--secondary);
  -webkit-text-stroke: 1px var(--golden);

}

.main{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 50px;

}
.main .game{
position: relative;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
padding: 80px;
background-color: #aac7d4;
border-radius: 55% 45% 66% 34%/53% 59% 41% 47%;
box-shadow: inset 17px 30px 26px 0 #818eb900, inset 1px 4px 32px 4px #8387c1, 15px 20px 25px 1px #5d6570;
animation: boll 10s 0.2s linear infinite;
}
@keyframes boll {
  0%{
    border-radius: 55% 45% 66% 34%/53% 64% 36% 47%;
  }
  
  20%{
    border-radius: 59% 41% 49% 51% /35% 59% 41% 65%;

  }
  40%{
    border-radius: 39% 61% 75% 25% /53% 59% 41% 47%;
  }
  60%{
    border-radius: 39% 61% 75% 25% /53% 59% 41% 47%;
  }
  80%{
    border-radius: 59% 41% 49% 51% /35% 59% 41% 65%;


  }
  /* 85%{
    border-radius: 64% 36% 66% 34%/47% 48% 52% 53%;
  } */
  100%{
    border-radius: 55% 45% 66% 34%/53% 59% 41% 47%;;
  }
}

.main .movie{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #aac7d4;
  border-radius: 55% 45% 66% 34%/53% 59% 41% 47%;
  box-shadow: inset 17px 30px 26px 0 #818eb900, inset 1px 4px 32px 4px #8387c1, 15px 20px 25px 1px #5d6570;
  animation: boll1 10s 0.2s linear infinite;
  }
  @keyframes boll1 {
    0%{
      border-radius: 55% 45% 66% 34%/53% 64% 36% 47%;
    }
    20%{
      border-radius:64% 36% 66% 34%/47% 48% 52% 53% ;
    }
    40%{
      border-radius: 55% 45% 60% 40%/53% 62% 38% 47%;
    }
    60%{
      border-radius: 39% 61% 75% 25% /53% 59% 41% 47%;
    }
    80%{
      border-radius: 55% 45% 60% 40% /53% 62% 38% 47%;
  
    }
    /* 85%{
      border-radius: ;
    } */
    100%{
      border-radius: 55% 45% 66% 34%/53% 59% 41% 47%;;
    }
  }
  .main a{
    color: var(--mainColor);
    text-decoration: none;
  }
  .main a:hover{
    color: var(--golden);
    box-shadow: inset 17px 30px 26px 0 #818eb900, inset 1px 4px 32px 4px #8387c1, 15px 20px 25px 1px rgba(218, 165, 32, 0.452);

  }